#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  @media (max-width:767px) {
    padding-left: 0;
    transition: all 0.4s ease 0s;
    #wrapper.active {
      position: relative;
      left: 250px;      
    }
  }
  
  
}

#page-content-wrapper {
  padding-top: 50px;
  width: 100%;
  //background: rgba(0, 0, 0, 0.44);
}

@media (max-width:767px) {
  #sidebar-wrapper {
    left: 0;
  }
}

#menu-toggle {
  display: none;
  @media (max-width:767px) {
     display: inline-block;
  }
}

.inset {
  padding: 20px;
  @media (max-width:767px) {
    padding: 15px;
  }
}