@import '_sidebar';
@import '_topbar';
@import '_content';
@import '_posting';

.fa-vert{
  padding-right: 10px;
  float: left;
}

body{
  background: url(../img/rock-climb-lg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.orange{}

.panel-collapse{
  li{
    list-style-type: none;
  }
  a{
    color: #000;
  }
}

.login-page {
  background: url(../img/rock-climb-couple.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-login {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(0, 0, 0, 0.21);
  border-radius: 0; 
}

.form-control{
  border-radius: 0;
}

.btn{
  border-radius: 0;
}

.dropdown-inner{
  margin: 0 0 0 10px;
  padding: 5px 12px 10px 0;
  
}

.dropdown-menu{
  border-radius: 0;
}
