@import '_sidebar';
@import '_topbar';
@import '_content';
@import '_posting';
@import '_about';

div {
  font-family: 'Open Sans', sans-serif;
}

.fa-vert{
  padding-right: 10px;
  float: left;
}

body{
  background: url(../img/vert-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media(min-width: 767px) {
    background: url(../img/rock-climb-lg.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

.orange{}

.panel-collapse{
  li{
    list-style-type: none;
  }
  a{
    color: #000;
  }
}

.login-page {
  background: url(../img/climbing-mountain.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-login {
  margin-top: 150px;
  background: rgba(0, 0, 0, 0.43);
  border-color: rgba(0, 0, 0, 0.21);
  border-radius: 0;
  color: #efefef;
  
}

.form-control{
  border-radius: 0;
}

.btn{
  border-radius: 0;
}

.dropdown-inner{
  margin: 0 0 0 10px;
  padding-right: 15px;
}

.submit-line{
  .btn-link{
    color: tomato;
  }
}