<div class="panel panel-default panel-posting panel-about">
  <h2>About</h2>
  <p>Sometimes it can be hard to find people to climb with. Sometimes you want to go climbing RIGHT NOW but everyone you know is busy. Heck, sometimes you just might not know anyone else who climbs! Climbing Buddy PDX helps climbers in the Portland Area find people to climb with on short notice. We currently feature three major climbing gyms in Portland. Simply select your gym of choice, when you will be climbing, for how long you will be climbing, and enter any other information you would like to provide. Talk to other climbers in the reply section of your post, or read through the whole list and find a buddy you would like to climb with!</p>
  <p>Be smart, be safe, and happy climbing!</p>
  <p>Climbing Buddy PDX is a Capstone Project built for the Portland Code School Full-Stack Javascript Winter/Spring 2014 session by Jhenna Voorhis and Christopher Peddecord with Austen Price and Dan Berezhinskiy</p>
  <p>We used and deployed the following:</p>
  <ul>
    <li>Node.js - The best thing in life, ever.</li>
    <li>Express - Node.js backend framework</li>
    <li>Passport - Authentication for Node.js </li>
    <li>Gulp - Stream-based Node.js Task Runner</li>
    <li>Thorax - An extension of Backbone.js</li>
    <li>Sass - Syntactically Awesome Style Sheets</li>
  </ul>
  
  <p>Our server is running on the beautiful cloud at Digital Ocean</p>
  
</div>