<div class="panel panel-default panel-posting panel-about">
  <h2>About</h2>
  <p>Climbing Buddy PDX was built for the Portland Code School Full-stack Javascript winter/spring 2014 capstone by Jhenna Voorhis and Christopher Peddecord with Austen Price and Dan Berezhinskiy</p>
  <p>We used and deployed the following:</p>
  <ul>
    <li>Nodes - The best thing in life, ever.</li>
    <li>Express - Node.js backend framework</li>
    <li>Passport - Authentication for Node.js </li>
    <li>Gulp - Stream-based Node.js Taskr Rnner</li>
    <li>Thorax - An extension of Backbone.js</li>
    <li>Sass - Syntactically Awesome Style Sheets</li>
  </ul>
  
  <p>Our server is running on the beautiful cloud at Digital Ocean</p>
  
</div>