<aside class="panel-default">
  <select class="form-control form-inline" id="climb-gym" name="climb-gym">
    <option value="null">I'm Climbing at:</option>
    <option value="circuit-ne">The Circuit NE</option>
    <option value="circuit-sw">The Circuit SW</option>
    <option value="prg">Portland Rock Gym</option>
  </select>
  <select class="form-control form-inline" id="climb-eta" name="climb-eta">
    <option value="null">I'm going in:</option>
    <option value="0">Now!</option>
    <option value="15">15 minutes</option>
    <option value="30">30 minutes</option>
    <option value="45">45 minutes</option>
    <option value="60">1 hour</option>
  </select>
  <select class="form-control form-inline" id="climb-length" name="climb-length">
    <option value="null">I'm climbing for:</option>
    <option value="30">30 minutes</option>
    <option value="60">1 hour</option>
    <option value="90">1.5 hours</option>
    <option value="120">2 hours</option>
  </select>
  More Info for fun:
  <textarea class="form-control" rows="3" type="text" id="climb-details" name="climb-details" placeholder="Meet me over by the..."></textarea>

  <button class="btn btn-danger" id="posting-submit-button">Go Climbing!</button>
</aside>