<div class="sidebar-group">
  <div class="row">
    <div id ="top-bar"></div>
  </div>
  
  <div class="row sidebar-guy">
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by Gym <i class="fa fa-caret-down"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#circuit-ne">The Circuit NE</a></li>
        <li><a href="#circuit-sw">The Circuit SW</a></li>
        <li><a href="#prg">Portland Rock Gym</a></li>
        <li class="divider"></li>
        <li><a href="#">Reset</a></li>
      </ul>
    </div>
  </div>
  
  <div class="row sidebar-guy">
    <select class="form-control form-inline" id="climb-gym" name="climb-gym">
      <option value="null">I'm climbing at:</option>
      <option value="Circuit NE">The Circuit NE</option>
      <option value="Circuit SW">The Circuit SW</option>
      <option value="Portland Rock Gym">Portland Rock Gym</option>
    </select>
    <select class="form-control form-inline" id="climb-eta" name="climb-eta">
      <option value="null">I'm going in:</option>
      <option value="0">Now!</option>
      <option value="15">15 minutes</option>
      <option value="30">30 minutes</option>
      <option value="45">45 minutes</option>
      <option value="60">1 hour</option>
    </select>
    <select class="form-control form-inline" id="climb-duration" name="climb-duration">
      <option value="null">I'm climbing for:</option>
      <option value="30">30 minutes</option>
      <option value="60">1 hour</option>
      <option value="90">1.5 hours</option>
      <option value="120">2 hours</option>
    </select>
    <textarea class="form-control" rows="3" type="text" id="climb-details" name="climb-details" placeholder="Leave some details here..."></textarea>
    <br>
    <div class="submit-line"><button class="btn btn-primary" id="posting-submit-button">Climb on!</button><button class="btn btn-link text-danger"></button></div>
  </div>
  

  
</div>
