<div class="navbar navbar-fixed-top navbar-inverse topbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Climbing Buddy PDX</a>
          
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      
      <button type="button" class="navbar-toggle" data-toggle="offcanvas">
        <i class="fa fa-plus"></i>
      </button>
    
    </div>
    
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">Hi, {{userName}}!</p>
    </div>
    
  </div>
</div>
